<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style/popup.css" />
    </head>

    <body>
        <div id="nourl" style="display: none">
            <div class="header">
                <div class="logo">
                    <img alt="Logo" src="icons/icon128.png" />
                </div>
                <div class="text">
                    <div id="title" class="title">Welcome!</div>
                </div>
                <div id="donationReminder" style="display: none" class="donationBanner">
                    <div class="title">ToS;DR needs you!</div>
                    ToS;DR is only possbile because of donations! Donations pay for servers and allow us to improve.
                    If you like ToS;DR and want to help keep the project alive, you can donate here:
                    <br>
                    <br>
                    <div id="donationButton" class="label other web" style="text-decoration: none;">Donate to ToS;DR</div>
                </div>
                <div class="labels">
                    <div id="source" class="label other web">
                        <img class="icon" alt="Web" src="icons/web.svg" />
                        <div class="labeltext">Source Code</div>
                    </div>
                    <div id="opentosdr" class="label other web">
                        <img class="icon" alt="Web" src="icons/web.svg" />
                        <div class="labeltext">Open ToS;DR</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="loading" style="opacity: 1">
            <div>
                <img
                    class="loadingIcon"
                    alt="Loading..."
                    src="icons/loading.svg"
                />
                <h2>Please wait, loading...</h2>
            </div>
        </div>
        <div id="error" style="display: none">
            <img class="errorIcon" alt="Error!" src="icons/error.svg" />
            <div class="errorText">
                <h2 id="errorTitle">An error has occurred.</h2>
                <p id="errorDescription">Try again.</p>
            </div>
        </div>
        <div id="loaded" style="filter: blur(10px)">
            <div id="headerPopup" class="header">
                <div class="headerlogo">
                    <div class="logo">
                        <img id="logo" alt="Logo" />
                    </div>
                    <div class="text">
                        <div id="serviceTitle" class="title serviceName">Loading</div>
                    </div>
                </div>
                <div class="labels">
                    <div id="gradelabel" class="label">
                        <img class="icon" alt="Grade" src="icons/shield.svg" />
                        <div class="labeltext">
                            Grade: <a id="grade">...</a>
                        </div>
                    </div>
                    <div class="label other web" id="webbutton">
                        <img class="icon" alt="Web" src="icons/web.svg" />
                        <div class="labeltext">Open on ToS;DR</div>
                    </div>
                </div>
                <div id="curator" class="labels" style="display: none">
                    <div class="label other">
                        <img
                            class="icon"
                            alt="Points"
                            src="icons/warning.svg"
                        />
                        <div class="labeltext">
                            Points: <a id="pointsCount">...</a>
                        </div>
                    </div>
                    <div class="label other web" id="phoenixButton">
                        <img class="icon" alt="Web" src="icons/web.svg" />
                        <div class="labeltext">Open on Phoenix</div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="center" id="notreviewedShown" style="display: none">
            We haven't sufficiently reviewed the terms yet. Please contribute to
            on Phoenix: <a id="edittext" href="#">edit.tosdr.org</a>
        </h3>
        <p id="id" style="display: none">Placeholder</p>
        <h3 style="display: none">
            Points for <a class="serviceName">...</a>:
        </h3>

        <div id="documentList">
            <a style="display: none">...</a>
        </div>
        <div style="display: none;" id="docsWithoutPoints">
            <div class="documentHeader">
                <h3 class="documentTitle">Documents without Points</h3>
            </div>
            <div id="docsWithoutPointsWraper" class="pointList"></div>
        </div>
        <a>
            <button id="toggleButton">Toggle Darkmode</button> -
            <button id="settingsButton">Settings</button> -
            <button id="sourceButton">Source Code</button> - v6.0.1
        </a>
        <p id="translationWarning" class="translationWarning" style="display: none">
            Translations are machine translated. You can turn them off in Settings by choosing English.
        </p>
    </body>
    <script type="module" src="../scripts/views/popup.js" defer></script>
</html>
